deeptools/CGmaps/.CG.level.bedgraph
deeptools/CGmaps/.CH.level.sorted.bedgraph
deeptools/CGmaps/.C.coverage.bedgraph
deeptools/CGmaps/.CH.level.bedgraph
deeptools/CGmaps/.CG.level.sorted.bedgraph
deeptools/CGmaps/.C.coverage.sorted.bedgraph
inputs/genomes/Apar_genome.fasta
inputs/CGmaps/DMSO2_EKDL210006914-1a-AK7208-AK17218_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
inputs/CGmaps/A_par_33h2_merged.CGmap.gz
inputs/CGmaps/s5Aza3_EKDL210006914-1a-GH01-AK17214_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
inputs/CGmaps/A_par_5h2_merged.CGmap.gz
inputs/CGmaps/A_par_14h2_merged.CGmap.gz
inputs/CGmaps/A_par_33h1_merged.CGmap.gz
inputs/CGmaps/A_par_20h1_merged.CGmap.gz
inputs/CGmaps/A_par_20h2_merged.CGmap.gz
inputs/CGmaps/A_par_14h1_merged.CGmap.gz
inputs/CGmaps/Apar_feb_assembly_merged_initial_emseq.CGmap.gz
inputs/CGmaps/A_par_5h1_merged.CGmap.gz
inputs/CGmaps/s5Aza1_EKDL210006914-1a-AK17216-AK16590_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
inputs/CGmaps/DMSO3_EKDL210006914-1a-AK4966-AK17215_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
inputs/CGmaps/s5Aza2_EKDL210006914-1a-7UDI233-AK17213_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
inputs/CGmaps/DMSO1_EKDL210006914-1a-AK17217-GH10_HK5WYDSX2_L4_1.fq.gz.CGmap.gz
